.app {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.voice-recorder {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.title {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}

.recorder-container {
  min-width: 300px;
  width: 30vw;
  height: 70vh;
  border-radius: 1rem;
  background: #fff;
  color: gray;
  border: 2px solid gray;
}
